<%# <h1>Sessions#index</h1>
<p>Find me in app/views/sessions/index.html.erb</p> %>

<h1>Welcome!</h1>


<div><%= link_to "Sign Up", new_user_path %></div>
<div><%= link_to "Log In", new_session_path %></div>
