<%= form_tag projects_path do %>
    <div> Name: <%= text_field_tag "project[name]" %></div>
    <%= hidden_field_tag "project[user_id]", @user.id %>
    <%= submit_tag "Create a New Project"%>
<% end %>