<h1>Create a New Project!</h1>

<% if @project.errors.any? %>
    <div id="errors">
        <h3>Sorry, There were a few errors:</h2>
        <ul>
            <% @project.errors.full_messages.each do |m|%>
                <li><%= m %></li>
            <% end %>
        </ul>
    </div>
<% end %>
<%= form_for @project do %>
    <%= render partial: "/projects/form" %>
    <%= submit_tag "Create Project" %>
<% end %>