<%= form_tag punch_lists_path do %>
<div>Name: <%= text_field_tag "punch_list[name]" %></div><br>
<%= hidden_field_tag "punch_list[project_id]", @project.id %>
<%= submit_tag "Create a New Punch_list" %>
<% end %>