<h1>Edit Page for <%= @worker.name %>.</h1>

<P><%= render partial: "/workers/form" %></p><br>

<%= link_to "DESTROY #{@worker.name}", @worker, :method => :delete, :data => {:confirm => "ANNIHALATE #{@worker.name} FOREVER!"} %><br><br>

<%= link_to "return to #{@worker.name}", worker_path(@worker) %>